.navbar-custom{
    background-color: #E83E8C;
    opacity: 1;    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-color:#FFFFFF;
}
.navbar-brand{
    margin-left: 119px;
}
.navbar-nav {
    margin-right: 118px;
  }
.navbar-nav > li{
    padding-left:10px;
  }