body { 
  padding-top: 75px; 
}
.navbar-custom{
    background-color: #E83E8C;
    opacity: 1;    
    font-family: 'Open Sans', sans-serif;
    color:#FFFFFF;
}
.navbar-brand{
    margin-left: 119px;
}
.navbar-nav {
    margin-right: 118px;
  }
.navbar-nav > li{
    padding-left:10px;
  }

.fw-light {
  text-align: center;
  font-family: 'Open Sans',  sans-serif;
  weight: 700;
  font-size: 60px;
  color: #707070;
  }

.card-title {
    font-family: 'Open Sans',  sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #373A3C;
  }

.card-text {
    font-family: 'Open Sans',  sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #373A3C;
  }

ul.list-group.list-group-flush {
    font-family: 'Open Sans',  sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #373A3C;
  }

  a {
    font-family: 'Open Sans',  sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
  }

  .card-link {
    font-family: 'Open Sans',  sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #1C7CD5;
  }


  div.d-none.d-lg-block {
    text-align: center;
    background-color: #17A2B8;
    width: 100%;
   /*height: 5em;*/
  padding-top: 50px;
  padding-bottom: 50px;
  }

  h6 {
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Open Sans',  sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
  }

  .banner {
    background-color: #E83E8C;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
   /*height: 14em;*/
  }

